<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
	<app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
	
	<div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Jugadores Formativa {{category.NombreCategoria}}</h1>
        </div>
    </div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">					  							  
						<li><a data-toggle="tab">Listado</a></li>
						<li ><a [routerLink]="['/player/add']"  data-toggle="tab">Añadir</a></li>
					</ul>
					<div class="row">								
						<div class="col-sm-5">									
							<div class="form-group label-floating">
								<label class="control-label" ><i class="zmdi zmdi-search zmdi-hc-fw"></i>Buscar</label>
								<input class="form-control" type="text" [(ngModel)]="filterPlayers" name="filterPlayers" onkeypress="return soloLetras(event)">
							
							</div>					
						</div>
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<div class="form-group label-floating">
								<label class="control-label" ><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>Periodo</label>
								<form (ngSubmit)="listarJugadores()">
									<select class="form-control"  #periodo="ngModel"  name="idPeriodo" [(ngModel)]="idPeriodo">
										<option *ngFor="let periodo of periodos" value="{{periodo.id}}">{{periodo.Anio}}</option>
									</select>
									<input type="submit" class=" btn btn-raised btn-primary" value="Consultar">
								</form>
							</div>
						</div>
					</div>							
					<!-- FIN BUSCAR -->	
					<div *ngIf="jugadores[0]; then HayJugadores else NoHayJugadores"></div>
											
					<ng-template #HayJugadores>
						<div class="full-box col-md-4" style="padding: 30px 10px;" *ngFor="let jugador of jugadores | filterPlayer:filterPlayers">
				
							<!-- INICIO CASILLA JUGADOR -->
							
							<article class="full-box tile2">
								<div class="full-box tile2-title text-center text-titles text-uppercase">
									{{jugador.Nombres}} {{jugador.Apellidos}}
								</div>
								
								<div class="full-box tile2-icon text-center">
									<div class="full-box dashboard-sideBar-UserJugador">
										<figure class="full-box">
											<img [src]="jugador.Foto == null  || jugador.Foto == '' || jugador.Foto == 'null'
											? './assets/img/sinPerfil.png':serverURL+jugador.Foto">
										</figure>
									</div>
								</div>

								<div class="full-box text-center text-uppercase">
									{{jugador.HorasJugadas}} Horas Jugadas
								</div>

								<div class="full-box text-center text-titles text-uppercase">
									{{jugador.posicion.NombrePosicion}}
								</div>
								
								<div class="full-box text-center text-titles text-uppercase">
									<a [routerLink]="['/player/',jugador.id]" class="btn btn-success btn-raised"><i class="zmdi zmdi-account"></i> Ver Jugador</a>
									<a [routerLink]="['/player/update/', jugador.id]" class="btn btn-raised btn-primary"><i class="zmdi zmdi-settings"></i> Modificar</a>								
									
								</div>
							</article>
						
							
						</div>						
					</ng-template>

					<ng-template #NoHayJugadores>
						<h1 class="text-aling-center">Por favor seleccione un periodo</h1>
					</ng-template>

				</div>
			</div>
		</div>
		<pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
</section>