<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
        
    <div class="container-fluid">
        <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Modificar <small>Información de {{user.Nombre}} {{user.Apellido}}</small></h1>
        </div>
        
    </div>
    <div class="container-fluid">
        <div>
            <div class="col-xs-12">					
                <div id="myTabContent" class="tab-content">

                    <form method="POST" #newForm="ngForm" (ngSubmit)="actualizarUsuario()">
                        <p >
                            <button type="submit" class="btn btn-success btn-raised btn-primary" [disabled]="!newForm.form.valid"><i class="zmdi zmdi-floppy"></i> Guardar Cambios</button>
                        </p>
                        <div class="row mt-3">

                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Foto de Perfil</a></li>
                                </ul>
                                    <div class="card border-0 shadow-lg bg-gradiente text-white">
                                        <div class="card-body row justify-content-center align-items-center">
                                            <div class="full-box dashboard-sideBar-UserJugador">
                                                <figure>

                                                    <img [src]="user.Foto == null || user.Foto == '' || user.Foto == 'null' ? './assets/img/sinPerfil.png' : fotoSeleccionada || serverURL+user.Foto">
                                                    <br><br><input (change)="fileChange($event)" type="file" id="botonFotoPerfil"/>
                                                    
                                                    <br>
                                                </figure>								
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Información Personal</a></li>
                                </ul>
                                    <div class="card border-0 shadow-lg bg-gradiente text-white">
                                        <div class="card-body row justify-content-centelign-items-center">
                                            <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                                <figure>
                                                    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Cédula</label>
                                                        <input class="form-control" type="text" minlength="10" maxlength="10" #cedula="ngModel" [(ngModel)]="user.Cedula" name="Cedula" onkeypress="return soloNumeros(event)" required>
                                                        <span class="form-error-message" *ngIf="cedula.touched && !cedula.valid">La cedula no es valida</span>
                                                    </div>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombres</label>
                                                        <input class="form-control" type="text" #nombre="ngModel" [(ngModel)]="user.Nombre" name="Nombre" onkeypress="return soloLetras(event)" required> 
                                                        <span class="form-error-message" *ngIf="nombre.touched && !nombre.valid">El nombre no es valido</span>
                                                    </div>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellidos</label>
                                                        <input class="form-control" type="text" #apellido="ngModel" [(ngModel)]="user.Apellido" name="Apellido" onkeypress="return soloLetras(event)" required>
                                                        <span class="form-error-message" *ngIf="apellido.touched && !apellido.valid">El apellido no es valido</span>
                                                    </div><br>                                               
                                                </figure>							
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Información Cuenta</a></li>
                                </ul>
                                    <div class="card border-0 shadow-lg bg-gradiente text-white">
                                        <div class="card-body row justify-content-center align-items-center">
                                            <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                                <figure>
                                                    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombre de Usuario</label>
                                                        <input class="form-control" #username="ngModel" [(ngModel)]="user.Username" name="Username" type="text" required>
                                                        <span class="form-error-message" *ngIf="username.touched && !username.valid">El nombre de usuario no es valido</span>
                                                    </div>

                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Contraseña</label>                                                        
                                                        <input class="form-control" name="Password" [(ngModel)]="Password" type="password">
                                                    </div>
                                    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Categoria</label>
                                                        <select class="form-control" #formativa="ngModel"  name="formativa" [(ngModel)]="user.idCategoria">
                                                            <option *ngFor="let formativa of listaCategorias" value="{{formativa.id}}">Formativa {{formativa.NombreCategoria}}</option>
                                                        
                                                        </select>
                                                        <span class="form-error-message" *ngIf="!user.idCategoria">Debe seleccionar una categoría</span>
                                                    </div>
                                                </figure>							
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            <!-- FIN COLUMNA DERECHA-->
                            

                            <div class="col-sm-2">
                                							
                                <ul class="nav nav-tabs">
                                    <li><a>Deshabilitar Cuenta</a></li>
                                </ul>
                                <div class="card border-0 shadow-lg bg-gradiente text-white">
                                    <div class="card-body row justify-content-center align-items-center">
                                        <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                            <figure>
                                                <div class="form-group label-floating">
                                                    <input class="form-control" [(ngModel)]="user.estaActivo" name="estaActivo" type="checkbox"><p></p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </form>
                    <p class="p-4"> </p>
                </div>
            </div>
        </div>
    </div>
</section>