<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>

    <div class="container-fluid">
        <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Modificar <small>Información de mi Perfil</small></h1>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <div class="col-xs-12">					
                <div id="myTabContent" class="tab-content">
                    <form method="POST" (ngSubmit)="actualizarUsuario()">
                        <p >
                            <button type="submit" class="btn btn-success btn-raised btn-primary"><i class="zmdi zmdi-floppy"></i> Guardar Cambios</button>
                        </p>
                        

                        <div class="tab-pane fade active in" id="new">
                            <!-- INICIO COLUMNAS DIVIDIDAS-->
                            <div class="row ">

                                
                                <!-- INICIO COLUMNA IZQUIERDA-->
                                <div class="col-sm-4">
                                    <ul class="nav nav-tabs">					  							  
                                        <li><a>Foto de Perfil</a></li>
                                    </ul>
                                        <div class="card border-0 shadow-lg bg-gradiente text-white">
                                            <div class="card-body row justify-content-center align-items-center">
                                                <div class="full-box dashboard-sideBar-UserJugador">
                                                    <figure>                                                            
                                                        <img [src]="user.Foto == null || user.Foto =='null' || user.Foto == '' ? './assets/img/sinPerfil.png' : fotoSeleccionada || serverURL+user.Foto">
                                                    
                                                        <input (change)="fileChange($event)" name="Foto" type="file" id="botonFotoPerfil"/><br><br>
                                                    
                                                        

                                                    </figure>								
                                                </div>	
                                            </div>											
                                        </div>
                                </div>
                                <!-- FIN COLUMNA IZQUIERDA-->


                                <!-- INICIO COLUMNA CENTRO-->
                                <div class="col-sm-4">
                                    <ul class="nav nav-tabs">					  							  
                                        <li><a>Información Personal</a></li>
                                    </ul>
                                        <div class="card border-0 shadow-lg bg-gradiente text-white">
                                            <div class="card-body row justify-content-center align-items-center">
                                                <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                                    <figure>														
                                                        
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nombres</label>
                                                            <!--EN LA SIGUIENTE LÍNEA SE EXTRAE LA INFORMACIÓN
                                                            DEL USUARIO DESDE LA BASE DE DATOS-->
                                                            <input class="form-control" [(ngModel)]="user.Nombre" name="Nombre" value="{{user.Nombre}}">
                                                        </div>														

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Apellidos</label>
                                                            <!--EN LA SIGUIENTE LÍNEA SE EXTRAE LA INFORMACIÓN
                                                            DEL USUARIO DESDE LA BASE DE DATOS-->
                                                            <input class="form-control" [(ngModel)]="user.Apellido" name="Apellido" value="{{user.Apellido}}">
                                                        </div>

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Usuario</label>
                                                            <!--EN LA SIGUIENTE LÍNEA SE EXTRAE LA INFORMACIÓN
                                                            DEL USUARIO DESDE LA BASE DE DATOS-->
                                                            <input class="form-control" [(ngModel)]="user.Username" name="Username" value="{{user.Username}}">
                                                        </div><br>

                                                    </figure>								
                                                </div>	
                                            </div>											
                                        </div>
                                </div>
                                <!-- FIN COLUMNA CENTRO-->


                                <!-- INICIO COLUMNA DERECHA-->
                                <div class="col-sm-4">
                                    <ul class="nav nav-tabs">					  							  
                                        <li><a>Cambiar Contraseña</a></li>
                                    </ul>
                                        <div class="card border-0 shadow-lg bg-gradiente text-white">
                                            <div class="card-body row justify-content-center align-items-center">
                                                <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                                    <figure>
                                                        
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Contraseña Actual</label>
                                                            <!--EN LA SIGUIENTE LÍNEA SE EXTRAE LA INFORMACIÓN
                                                            DEL USUARIO DESDE LA BASE DE DATOS-->
                                                            <input class="form-control"  name="Last_password" type="password">
                                                        </div>

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nueva Contraseña</label>
                                                            <!--EN LA SIGUIENTE LÍNEA SE EXTRAE LA INFORMACIÓN
                                                            DEL USUARIO DESDE LA BASE DE DATOS-->
                                                            <input class="form-control" [(ngModel)]="user.Password" name="Password" type="password">
                                                        </div>

                                                    </figure>							
                                                </div>	
                                            </div>											
                                        </div>
                                    </div>
                                <!-- FIN COLUMNA DERECHA-->


                                </div>  
                            <!-- FIN COLUMNAS DIVIDIDAS-->
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- ========== FIN CONTENIDO INTERNO DE LA PÁGINA ========== -->

