<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
    <div class="container-fluid">
        <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Gestionar <small>Administradores</small></h1>
        </div>			
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">					  							  
                    <li> <a [routerLink]="['/admin']">Listado</a></li>
                    <li> <a [routerLink]="['/admin/add']">Añadir</a></li>                    
                </ul>
            
                <form method="POST" (ngSubmit)="guardarUsuario()" #newForm="ngForm" enctype="multipart/form-data">
                    <p >
                        <button type="submit" class="btn btn-success btn-raised btn-primary btn-border-black" [disabled]="!newForm.form.valid" ><i class="zmdi zmdi-floppy"></i> Guardar</button>
                    </p>
                    <div class="row mt-3">

                        <div class="col-sm-4">
                            <ul class="nav nav-tabs">					  							  
                                <li><a>Foto de Perfil</a></li>
                            </ul>
                                <div class="card border-0 shadow-lg bg-gradiente text-white">
                                    <div class="card-body row justify-content-center align-items-center">
                                        <div class="full-box dashboard-sideBar-Usermodificar">
                                            <figure>

                                                <img [src]="fotoSeleccionada || './assets/img/sinPerfil.png'">
                                                <br><br>
                                                <input (change)="fileChange($event)" type="file" id="botonFotoPerfil"/>
                                                
                                                <p></p>
                                            </figure>								
                                        </div>	
                                    </div>											
                                </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <ul class="nav nav-tabs">					  							  
                                <li><a>Información Personal</a></li>
                            </ul>
                                <div class="card border-0 shadow-lg bg-gradiente text-white">
                                    <div class="card-body row justify-content-center align-items-center">
                                        <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                            <figure>
                                                
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Cédula</label>
                                                    <input class="form-control" type="text" minlength="10" maxlength="10" #cedula="ngModel" [(ngModel)]="userAdd.Cedula" name="Cedula" onkeypress="return soloNumeros(event)" required>
                                                    <span class="form-error-message" *ngIf="cedula.touched && !cedula.valid">La cedula no es valida</span>
                                                </div>

                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombres</label>
                                                    <input class="form-control" type="text" #nombre="ngModel" [(ngModel)]="userAdd.Nombre" name="Nombre" onkeypress="return soloLetras(event)" required> 
                                                    <span class="form-error-message" *ngIf="nombre.touched && !nombre.valid">El nombre no es valido</span>
                                                </div>

                                                <div class="form-group label-floating">
                                                    <label class="control-label">Apellidos</label>
                                                    <input class="form-control " type="text" #apellido="ngModel" [(ngModel)]="userAdd.Apellido" name="Apellido" onkeypress="return soloLetras(event)" required>
                                                    <span class="form-error-message" *ngIf="apellido.touched && !apellido.valid">El apellido no es valido</span>
                                                </div><br>												

                                               
                                            </figure>							
                                        </div>	
                                    </div>											
                                </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <ul class="nav nav-tabs">					  							  
                                <li><a>Información Cuenta</a></li>
                            </ul>
                                <div class="card border-0 shadow-lg bg-gradiente text-white">
                                    <div class="card-body row justify-content-center align-items-center">
                                        <div class="full-box dashboard-sideBar-UserInfoPerfil">
                                            <figure>
                                                
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombre de Usuario</label>
                                                    <input class="form-control" #username="ngModel" [(ngModel)]="userAdd.Username" name="Username" type="text" required>
                                                    <span class="form-error-message" *ngIf="username.touched && !username.valid">El nombre de usuario no es valido</span>
                                                </div>

                                                <div class="form-group label-floating">
                                                    <label class="control-label"> Contraseña</label>
                                                    <input class="form-control" type="password" #password="ngModel" [(ngModel)]="userAdd.Password" name="Password" required>
                                                    <span class="form-error-message" *ngIf="password.touched && !password.valid">La contraseña no es valida</span>
                                                </div>

                                                <div class="form-group label-floating">
                                                    <label class="control-label">Confirmar Contraseña</label>
                                                    <input class="form-control" #password2="ngModel" [(ngModel)]="Password2" name="password2" type="password" required>
                                                    <span class="form-error-message" *ngIf="password2.touched && !password2.valid">La contraseña no es valida</span>
                                                    <br>
                                                    <span class="form-error-message" *ngIf="password2.value != password.value">Las contraseña debe ser la misma</span>
                                                </div><br>

                                            </figure>							
                                        </div>	
                                    </div>											
                                </div>
                        </div>
                        <!-- FIN COLUMNA DERECHA -->

                    </div>
                    <!-- FIN COLUMNAS DIVIDIDAS -->							
                </form>            
            </div>
        </div>
    </div>
    <br><br>
</section>
    