<nav class="full-box dashboard-Navbar">
    <ul class="full-box list-unstyled text-right">
        <li class="pull-left">
           <a class="btn-menu-dashboard" (click)="onToggleSidenav()"><i class="zmdi zmdi-more-vert"></i></a>
            
            <!--<label class="btn-menu-dashboard" for="check">
                <i class="zmdi zmdi-more-vert" id="btn"></i>
            </label>-->
        </li>
    </ul>
</nav>