<form (submit)="saveGames()" #gameForm="ngForm" method="POST">    

    <div class="modal-header">
         <h4 class="modal-title">{{title}}</h4>
     </div>
     <div class="modal-body">                
         <div class="row">
             <div class="col-sm-6">
                 <div class="form-group">
                     <label for="recipient-name" class="col-form-label">Nombre del Partido:</label>
                     <input type="text" maxlength="150" class="form-control" name="nombrePartido" #nombrePartido="ngModel" [(ngModel)]="game.NombrePartido" required>
                     <span class="form-error-message" *ngIf="!nombrePartido.valid">Debe ingresar el nombre del partido</span>
                     </div>
             </div>
             <div class="col-sm-6">
                 <div class="form-group">
                     <label for="message-text" class="col-form-label">Minutos Jugados:</label>
                     <input type="number" step="1" class="form-control" name="minutosJugados" #minutosJugados="ngModel" [(ngModel)]="game.MinutosJugados" required>
                     <span class="form-error-message" *ngIf="minutosJugados.touched && !minutosJugados.valid">Debe ingresar los minutos jugados</span> 
                    </div>
             </div>
             <div class="col-sm-6">
                 <div class="form-group">
                     <label class="col-form-label">Fecha del Partido:</label>
                     <input type="date" class="form-control" name="fechaPartido" #fechaPartido="ngModel" [(ngModel)]="game.FechaPartido" required>
                     <span class="form-error-message" *ngIf="fechaPartido.touched && !fechaPartido.valid">Debe ingresar la fecha del partido</span>
                     </div>
             </div>             
         </div>                                
         <button type="submit" class="btn btn-success float-left" [disabled]="!gameForm.form.valid">Guardar</button> 
     </div>
 
     <div class="modal-footer">                       
         <button type="button" class="btn btn-danger mr-3" (click)="closeModal()">Cancelar</button>
     </div>
     
 </form>
 
