<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
    
    <div class="container-fluid">
        <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Gestionar <small>Directores Técnicos</small></h1>
        </div>			
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">					  							  
                    <li> <a [routerLink]="['/trainer']">Listado</a></li>
                    <li> <a [routerLink]="['/trainer/add']">Añadir</a></li>
                </ul>
            
                <div class="row">								
                    <div class="col-sm-5">									
                        <div class="form-group label-floating">
                        <label class="control-label" ><i class="zmdi zmdi-search zmdi-hc-fw"></i>Buscar</label>
                        <input class="form-control" type="text" [(ngModel)]="filterUsers" name="filterUsers">
                        </div><br>
                    </div>							
                </div>						
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Cédula</th>
                                <th class="text-center">Nombres</th>
                                <th class="text-center">Apellidos</th>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Activo</th>
                                <th class="text-center">Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                 
                            <tr *ngFor="let user of users | filter:filterUsers | paginate: { itemsPerPage: 6, currentPage: actualPage }">
                                <td>{{user.Cedula}}</td>											
                                <td>{{user.Nombre}}</td>
                                <td>{{user.Apellido}}</td>
                                <td>{{user.Username}}</td>
                                <td *ngIf="user.estaActivo">Si</td>
                                <td *ngIf="!user.estaActivo">No</td>
                                <td><a [routerLink]="['/trainer/update',user.id]" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-settings"></i></a></td>
                            </tr>										
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
                </div>
    
            </div>
        </div>
    </div>
</section>