*{
	margin:0;
	padding:0px;
	
}

div#general{
	margin:auto;
	margin-top:20px;
	height: 960px;
	height: 800px;
	background-color: aqua;
}

div#izquierda{	
	float: left;	
	width: 300px;
	height: 500px;
	background-color: yellow;
}

div#centro{		
	float: center;
	width: 300;
	height: 500px;
	background-color: blue;
}

div#derecha{
	float: right;	
	width: 300px;
	height: 500px;
	background-color: red;
}



