<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
	<app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
	
	<div class="container-fluid">
		<div class="page-header">
			<h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Añadir Prueba a Jugador<small></small></h1>
		</div>			
	</div>
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-xs-12">					
				<a [routerLink]="['/player/update', jugador.id]" class="btn btn-success btn-raised btn-primary"><i class="zmdi zmdi-settings"></i>  Ir a Modificar</a>
				<div class="row mt-2">
							
						<!-- INICIO COLUMNA 1 -->
						<div class="col-sm-3">
							<ul class="nav nav-tabs">					  							  
								<li><a>Foto de Perfil</a></li>
							</ul>
								<div class="card border-0 shadow-lg bg-gradiente text-white">
									<div class="card-body row justify-content-center align-items-center">
										<div class="full-box dashboard-sideBar-Usermodificar">
											<figure><br>
												<img [src]="jugador.Foto == null || jugador.Foto == '' || jugador.Foto == 'null'
												 ? './assets/img/sinPerfil.png' : serverURL+jugador.Foto">
												<br><br><p></p>
											</figure>
										</div>	
									</div>											
								</div>
						</div>
				
						<div class="col-sm-3">
							<ul class="nav nav-tabs">					  							  
								<li><a>Información Jugador (1)</a></li>
							</ul>
								<div class="card text-white">
									<div class="card-body row justify-content-center">
										<div class="dashboard-sideBar-UserInfoPerfil">
											<figure>														
												<div class="form-group label-floating">
													<label class="control-label">Cédula</label>
													<input class="form-control" [(ngModel)]="jugador.Cedula" name="Cedula" disabled>
												</div>

												<div class="form-group label-floating">
													<label class="control-label">Nombres</label>
													<label class="form-control">{{jugador.Nombres}}</label>
												</div>

												<div class="form-group label-floating">
													<label class="control-label">Apellidos</label>
													<label class="form-control">{{jugador.Apellidos}}</label>
												</div>

												<br>														
											</figure>							
										</div>	
									</div>											
								</div>
						</div>
						
	
						<div class="col-sm-3">
							<ul class="nav nav-tabs">					  							  
								<li><a>Información Jugador (2)</a></li>
							</ul>
								<div class="card text-white">
									<div class="card-body row justify-content-center">
										<div class="dashboard-sideBar-UserInfoPerfil">
											<figure>

												<div class="form-group label-floating">
													<label class="control-label">Fecha de Nacimiento</label>															
													<input class="form-control" [(ngModel)]="jugador.FechaNacimiento" name="FechaNacimiento" disabled>
												</div>

												<div class="form-group label-floating">
													<label class="control-label">Formativa</label>
													<label class="form-control">{{jugador.categoria.NombreCategoria}}</label>
												</div>

												<div class="form-group label-floating">
													<label class="control-label">Director Técnico</label>
													<label class="form-control">{{jugador.entrenador.Nombre}} {{jugador.entrenador.Apellido}}</label>
												</div>

												<br>														
											</figure>							
										</div>	
									</div>											
								</div>
						</div>
						
						<div class="col-sm-3">
							<ul class="nav nav-tabs">					  							  
								<li><a>Información Jugador (3)</a></li>
							</ul>
							<div class="card text-white">
								<div class="card-body row justify-content-center">
									<div class="dashboard-sideBar-UserInfoPerfil">
										<figure>

											<div class="form-group label-floating ">
												<label class="control-label">Lesión</label>
												<input class="form-control" value="{{jugador.Lesion}}" disabled>
											</div>														

											<div class="form-group label-floating">
												<label class="control-label">Posición</label>
												<label class="form-control">{{jugador.posicion.NombrePosicion}}</label>
											</div><br>

											

										</figure>							
									</div>	
								</div>											
							</div>
						</div>
					</div>
						
						<br>		
			</div>
		</div>
			
		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Pruebas Realizadas</a></li>
																
							</ul>										

							<div class="card border-0 shadow-lg bg-gradiente">
								<div class="card-body align-items-center">
									<figure>														
										<table class="table table-hover text-center">
											<thead>
												<tr>
													<th class="text-center">Fecha</th>
													<th class="text-center">Director Técnico</th>
													<th class="text-center">Peso</th>
													<th class="text-center">Estatura</th>																			
													<th class="text-center">Velocidad</th>
													<th class="text-center">Resistencia</th>
													<th class="text-center">Capacidad de Salto</th>
													<th class="text-center">Editar</th>
												</tr>
											</thead>
											<tbody>
						
												<tr *ngFor="let prueba of jugador.control | paginate: {id:'pruebas', itemsPerPage: 6, currentPage: actualPageTest }">
													<td>{{prueba.CreatedAt.substr(0,10)}}</td>
													<td>{{prueba.usuario.Nombre}} {{prueba.usuario.Apellido}}</td>
													<td>{{prueba.Peso}} KG</td>
													<td>{{prueba.Estatura}} MTS</td>
													<td>{{prueba.Velocidad}} M/S</td>
													<td>{{prueba.Resistencia}}</td>
													<td>{{prueba.CapacidadSalto}} MTS</td>																			
													<td>
														<a type="button"  class="btn-edit" (click)="editTestModal(prueba.id)"><i class="zmdi zmdi-settings"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
										
										<a type="button"  class="btn btn-raised btn-primary float-left" (click)="addTestModal()"><i class="zmdi zmdi-book"></i> + Añadir Prueba</a>
										<pagination-controls class="float-left mt-3" (pageChange)="actualPageTest = $event" id="pruebas"></pagination-controls>
									</figure>												
								</div>
							</div>
									
						</div>								
						
					</div>
				</div>
			</div>
		</div>
			<br>
		
		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Estado de Salud</a></li>
																
							</ul>										

							<div class="card border-0 shadow-lg bg-gradiente">
								<div class="card-body align-items-center">
									<figure>														
										<table class="table table-hover text-center">
											<thead>
												<tr>
													<th class="text-center">Fecha</th>
													<th class="text-center">Presión Arterial</th>
													<th class="text-center">Temperatura</th>
													<th class="text-center">Saturación de Oxigeno</th>																			
													<th class="text-center">Etc</th>
													<th class="text-center">Etc</th>
													<th class="text-center">Etc</th>												
												</tr>
											</thead>
											<tbody>
						
												<tr *ngFor="let item of estadoSalud | paginate: {id:'salud', itemsPerPage: 6,
																							currentPage: actualPageEstadoSalud}">
													<td>{{item.fecha}}</td>
													<td>{{item.presionArterial}}</td>
													<td>{{item.temperatura}}</td>
													<td>{{item.saturacionOxigeno}}</td>
													<td>{{item.etc1}}</td>
													<td>{{item.etc2}}</td>
													<td>{{item.etc3}}</td>																																
												</tr>												
											</tbody>											
										</table>

										<pagination-controls class="" (pageChange)="actualPageEstadoSalud = $event" id="salud"></pagination-controls>					
										
									</figure>												
								</div>
							</div>
									
						</div>								
						
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Partidos Jugados</a></li>
							</ul>										

							<div class="card border-0 shadow-lg bg-gradiente">
								<div class="card-body align-items-center">
									<figure>													
										<table class="table table-hover text-center">
											<thead>
												<tr>
													<th class="text-center">Fecha</th>
													<th class="text-center">Descripción</th>
													<th class="text-center">Minutos Jugados</th>
													<th class="text-center">Editar</th>													
												</tr>
											</thead>
											<tbody>
						
												<tr *ngFor="let partido of partidos | paginate: {id:'partidos', itemsPerPage: 6, currentPage: actualPageGame }">
													<td>{{partido.FechaPartido}}</td>
													<td>{{partido.NombrePartido}}</td>
													<td>{{partido.MinutosJugados}}</td>
													<td>
														<a type="button"  class="btn-edit" (click)="editGameModal(partido.id)"><i class="zmdi zmdi-settings"></i></a>
													</td>																								
												</tr>
											</tbody>
										</table>
										<br>
										<a type="button"  class="btn btn-raised btn-primary float-left" (click)="addGameModal()"><i class="zmdi zmdi-book"></i> + Partido</a>												
										<pagination-controls class="float-left mt-3" (pageChange)="actualPageGame = $event" id="partidos"></pagination-controls>
										<h4 class="float-right" style="margin-right: 120px;">Total: <span>{{totalMinutos}} Min</span> </h4>
									</figure>												
								</div>
							</div>
									
						</div>								
						
					</div>
				</div>
			</div>
		</div>
			<br>

		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Velocidad</a></li>
							</ul>										
							
									
							<div class="card border-0 shadow-lg bg-gradiente text-white">
								<div class="card-body row justify-content-center align-items-center">
									<div class="full-box dashboard-sideBar-UserInfoPerfil">
										<figure>	
											<canvas id="canvasVelocidad" width="" height="100">
												{{chart}}
											</canvas>
										</figure>
									</div>
								</div>
							</div>
															
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Resistencia</a></li>
							</ul>										
							
									
							<div class="card border-0 shadow-lg bg-gradiente text-white">
								<div class="card-body row justify-content-center align-items-center">
									<div class="full-box dashboard-sideBar-UserInfoPerfil">
										<figure>													
											<canvas id="canvasResistencia" width="" height="100">
												{{chart2}}
											</canvas>
										</figure>
									</div>
								</div>
							</div>
															
						</div>
					</div>
				</div>
			</div>
		</div>
			<br>
		<div class="row">
			<div class="col-xs-12">					
				<div id="myTabContent" class="tab-content">
					<div>
						<div class="">
							<ul class="nav nav-tabs">
								<li><a>Capacidad de Salto</a></li>
							</ul>										
																
							<div class="card border-0 shadow-lg bg-gradiente text-white">
								<div class="card-body row justify-content-center align-items-center">
									<div class="full-box dashboard-sideBar-UserInfoPerfil">
										<figure>	
											<canvas id="canvasSalto" width="" height="100">
												{{chart3}}
											</canvas>													
										</figure>
									</div>
								</div>
							</div>
															
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</section>