<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
    
    <div class="container-fluid">
        <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Modificar <small>Información de Jugador</small></h1>
        </div>			
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">					
                <div id="myTabContent" class="tab-content">
                    <form method="POST" #newForm="ngForm" (ngSubmit)="updatePlayer()" enctype="multipart/form-data">
                        <p>
                            <button type="submit" [disabled]="!newForm.form.valid"  class="btn btn-success btn-raised btn-primary"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                        </p>
    
                        <div class="row mt-5">
                            
                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Foto de Perfil</a></li>
                                </ul>
                                    <div class="card border-0 shadow-lg bg-gradiente text-white">
                                        <div class="card-body row justify-content-center align-items-center">
                                            <div class="full-box dashboard-sideBar-UserJugador">
                                                <figure>                                                                   
                                                    <img [src]="player.Foto == null || player.Foto =='null' || player.Foto == '' ? './assets/img/sinPerfil.png': fotoSeleccionada || serverURL+player.Foto"><br><br>
                                                    <input (change)="fileChange($event)" type="file" id="botonFotoPerfil"/>
                                                </figure>
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Información Jugador (1)</a></li>
                                </ul>
                                    <div class="card text-white">
                                        <div class="card-body row justify-content-center">
                                            <div class="dashboard-sideBar-UserInfoPerfil">
                                                <figure>														
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Cédula</label>
                                                        <input class="form-control" type="text" minlength="10" maxlength="10" #cedula="ngModel" name="cedula" [(ngModel)]="player.Cedula" onkeypress="return soloNumeros(event)" required>
                                                        <span class="form-error-message" *ngIf="!cedula.valid && cedula.touched">La cedula no es valida</span>                                                
                                                    </div>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombres</label>
                                                        <input class="form-control" type="text" #nombre="ngModel" name="nombre" [(ngModel)]="player.Nombres" onkeypress="return soloLetras(event)" required>
                                                        <span class="form-error-message" *ngIf="nombre.touched && !nombre.valid">El nombre no es valido</span>
                                                    </div>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellidos</label>
                                                        <input class="form-control" type="text" #apellido="ngModel" name="apellido" [(ngModel)]="player.Apellidos" onkeypress="return soloLetras(event)" required>
                                                        <span class="form-error-message" *ngIf="apellido.touched && !apellido.valid">El apellido no es valido</span>
                                                    </div>														
                                                </figure>							
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Información Jugador (2)</a></li>
                                </ul>
                                    <div class="card text-white">
                                        <div class="card-body row justify-content-center">
                                            <div class="dashboard-sideBar-UserInfoPerfil">
                                                <figure>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Fecha de Nacimiento</label>
                                                        <input class="form-control" type="date"  #fechaNacimiento="ngModel" [(ngModel)]="player.FechaNacimiento" name="fechaNacimiento" onkeypress="return soloNumeros(event)" required>
                                                        <span class="form-error-message" *ngIf="fechaNacimiento.touched && !fechaNacimiento.valid">La fecha de nacimiento no es valida</span>
                                                    </div>
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Posición</label>
                                                        <select class="form-control"  #posicion="ngModel" name="posicion" [(ngModel)]="player.idPosicion" required>
                                                            <option *ngFor="let posicion of listaPosiciones" value="{{posicion.id}}">{{posicion.NombrePosicion}}</option>                                                        														
                                                        </select>
                                                        <span class="form-error-message" *ngIf="posicion.touched && !posicion.valid">La posición no es valida</span>
                                                    </div>                                                                                  
    
                                                    <br>														
                                                </figure>							
                                            </div>	
                                        </div>											
                                    </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <ul class="nav nav-tabs">					  							  
                                    <li><a>Información Jugador (3)</a></li>
                                </ul>
                                    <div class="card text-white">
                                        <div class="card-body row justify-content-center">
                                            <div class="dashboard-sideBar-UserInfoPerfil">
                                                <figure>                                        											
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Formativa</label>
                                                        <select class="form-control" #formativa="ngModel"  name="formativa" [(ngModel)]="player.idCategoria" required>
                                                            <option *ngFor="let formativa of listaCategorias" value="{{formativa.id}}">Formativa {{formativa.NombreCategoria}}</option>                                                        
                                                        </select>
    
                                                        <span class="form-error-message" *ngIf="formativa.touched && !formativa.valid">La formativa no es valida</span>
                                                    </div>     
                                                   
    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Lesión</label>
                                                        <input class="form-control" type="text" name="lesion" #lesion="ngModel" [(ngModel)]="player.Lesion" onkeypress="return soloLetras(event)" required>														
                                                    </div><br>
                                                </figure>							
                                            </div>	
                                        </div>											
                                    </div>
                            </div>                        
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="col-sm-3" style="visibility: hidden;">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li><a>Deshabilitar Jugador</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!-- ========== FIN CONTENIDO INTERNO DE LA PÁGINA ========== -->
</section>