<form (submit)="saveTest()" #testForm="ngForm" method="POST">    

   <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">                       
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Peso en kg:</label>
                    <input type="number" step="0.01" class="form-control" name="peso" #peso="ngModel" [(ngModel)]="prueba.Peso" required>
                    <span class="form-error-message" *ngIf="!peso.valid">Debe ingresar el peso</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Estatura en mts:</label>
                    <input type="number" step="0.01" class="form-control" name="estatura" #estatura="ngModel" [(ngModel)]="prueba.Estatura" required>
                    <span class="form-error-message" *ngIf="estatura.touched && !estatura.valid">Debe ingresar la estatura</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">Velocidad en m/s:</label>
                    <input type="number" step="0.01" class="form-control" name="velocidad" #velocidad="ngModel" [(ngModel)]="prueba.Velocidad" required>
                    <span class="form-error-message" *ngIf="velocidad.touched && !velocidad.valid">Debe ingresar la velocidad</span>    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">Resistencia:</label>
                    <input type="number" step="0.01" class="form-control" name="resistencia" #resistencia="ngModel" [(ngModel)]="prueba.Resistencia" required>
                    <span class="form-error-message" *ngIf="resistencia.touched && !resistencia.valid">Debe ingresar la resistencia</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">Capacidad de Salto en mts:</label>
                    <input type="number" step="0.01" class="form-control" name="capacidadSalto" #capacidadSalto="ngModel" [(ngModel)]="prueba.CapacidadSalto" required>
                    <span class="form-error-message" *ngIf="capacidadSalto.touched && !capacidadSalto.valid">Debe ingresar la capacidad de salto</span>
                </div>
            </div>
        </div>                                
        <button type="submit" class="btn btn-success float-left" [disabled]="!testForm.form.valid">Guardar
        </button> 
    </div>

</form>

<div class="modal-footer">                       
    <button type="button" class="btn btn-danger mr-3" (click)="closeModal()">Cancelar</button>
</div>
    

