<div class="body">
    <form  method="POST" autocomplete="off" class="full-box logInForm">
		<p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
		<p class="text-center text-muted text-uppercase">Inicia sesión con tu cuenta</p>
        
        <div class="form-group label-floating">
		  <label class="control-label" for="usuarioLogin">Usuario</label>
          <input class="form-control text-white" [(ngModel)]="user.Username" name="Username" id="usuarioLogin" 
          type="text" required>
		  <p class="help-block">Escribe tu Usuario</p>
		</div>
        
        <div class="form-group label-floating">
		  <label class="control-label" for="usuarioPass">Contraseña</label>
          <input class="form-control text-white" [(ngModel)]="user.Password" id="usuarioPass" type="password" 
          name="Password" required>
		  <p class="help-block">Escribe tu contraseña</p>
		</div>
        
        <div class="form-group text-center">
			<input type="submit" (click)="signIn()" value="Iniciar sesión" class="btn btn-raised btn-danger">
        </div>
        
        <div class="alert alert-danger" *ngIf="!validUser" role="alert">
            {{message}}
        </div>
        <div class="alert alert-success" *ngIf="false" role="alert">
            You have been logged out.
        </div>
	</form>
</div>