
<app-navigation [mostrarNav]="mostrar" ></app-navigation>
<section class="full-box dashboard-contentPage" [class.no-paddin-left]="mostrar">
    
    <app-navigation-sup (toggleSidenav)="cambiarNav($event)"></app-navigation-sup>
    
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">Sistema de Gestión Deportiva <small>Manta Fútbol Club</small></h1>
        </div>
        
        <p class="lead" *ngIf="!isAdmin">Total de jugadores dentro del Club, clasificados según su Formativa.</p>
        
        <p class="lead" *ngIf="isAdmin">Total de jugadores a entrenar dentro del Club, clasificados según su Formativa.</p>
    </div>
    <div class="full-box" style="padding: 30px 10px;">
        
        <div *ngIf="totalByCategories[0];then tieneCategorias else noTieneCategorias "></div>
        
        <ng-template #tieneCategorias>
        <a *ngFor="let category of totalByCategories" [routerLink]="['/category', category.id]">
        <article class="full-box tile">
            <div class="full-box tile-title text-center text-titles text-uppercase">
                Formativa {{category.NombreCategoria}}
            </div>
            <div class="full-box tile-icon text-center">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="full-box tile-number text-titles">
                <p class="full-box">{{category.total}}</p>
                <small>JUGADORES</small>
            </div>
        </article>
        </a>
        </ng-template>
        <ng-template #noTieneCategorias>
            <h2 class="align-text-center">  No tiene categorias asignadas </h2>
        </ng-template>
    </div>
</section>