<section class="full-box cover dashboard-sideBar" [ngClass]="{'hide-sidebar':mostrarNav
                                                              ,'show-sidebar':!mostrarNav}">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Manta Fútbol Club <i class="zmdi zmdi-close btn-menu-dashboard visible-xs" (click)="cambiarMostrarNav()"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img [src] = "user.Foto == null || user.Foto == '' || user.Foto == 'null' ? './assets/img/sinPerfil.png' : serverURL+user.Foto">
                    
                
                    <figcaption class="text-center">{{user.Nombre}}</figcaption>
                
                    <figcaption class="text-center">{{user.Apellido}}</figcaption>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a [routerLink]="['/perfil',user.id]">
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>
                
                </ul>
            </div>
            
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                
                <li>
                    <a [routerLink]="['/panel']">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
                    </a>
                </li>

                <li *ngIf="user.esAdmin">
                    <a class="btn-sideBar-SubMenu" (click)="cambiarGestionar()">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Gestionar<i class="zmdi zmdi-caret-down pull-right" [class.zmdi-hc-rotate-180]="mostrarGestionar"></i>
                    </a>
                    <ul class="list-unstyled full-box" [class.show-sideBar-SubMenu]="mostrarGestionar">
                        <li >
                            <a [routerLink]="['/admin']"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Administradores</a>
                        </li>
                        <li>
                            <a [routerLink]="['/trainer']"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Directores Técnicos</a>
                        </li>						
                    </ul>
                </li>
                <li>
                    <a class="btn-sideBar-SubMenu" (click)="cambiarJugadores()">
                        <i class="zmdi zmdi-run zmdi-hc-fw"></i> Jugadores<i class="zmdi zmdi-caret-down pull-right" [class.zmdi-hc-rotate-180]="mostrarJugadores"></i>
                    </a>
                    <ul class="list-unstyled full-box" [class.show-sideBar-SubMenu]="mostrarJugadores">
                        <li *ngFor="let category of categories">
                            <a [routerLink]="['/category/',category.id]"><i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> {{category.NombreCategoria}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/perfil', user.id]" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-settings zmdi-hc-fw"></i> Modificar mi Perfil
                    </a>
                </li>

                <li>
                    <a (click)="loggout()" style="cursor: pointer;" class="btn-sideBar-SubMenu btn-exit-system">
                        <i class="zmdi zmdi-power zmdi-hc-fw"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>
    </div>
    
</section>


    


